$mywhite:white;
$hrcolor:rgba(180, 180, 180, 0.3);//line color
$buttonh4:#e5e7eb;//button content color//
$buttonbg:#00acc1;//button background and hover color//
$bodybg:rgba(0, 0, 0, 0.06);
$searchbar:#9c27b0;