@mixin h4set($size: 18px,$fw:300,$lineh:30px,$txtcolor:gray) {
   font-size: $size;
   font-weight:$fw;
   line-height: $lineh;
   color:$txtcolor;
  }
@mixin svgicon( $svgfill:white,$svgwidth:24px,$svgheight:18px){
    color:$svgfill;
    width:$svgwidth;
    height:$svgheight;
}
@mixin w-h($widthh:30px,$heightt:30px){
  width: $widthh;
  height: $heightt;
}
@mixin mt-mb($mt:30px,$mb:30px){
  margin-top: $mt;
  margin-bottom: $mb;
}
@mixin mt-ml($mt:20px,$ml:20px){
  margin-top: $mt;
  margin-left: $ml;
}