@import 'fonts';
@import "colors";

body {
  margin: 0;
  padding: 0;
}

.screen {
  display: flex;
}

.sidebar {
    height: 100vh;
    width: 260px;
  // width: calc(100% - 82%);
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/sidebarbg.png") no-repeat center center/cover;
    filter: brightness(20%);
    z-index: 1;
  }
  
  .sidebar_header {
    display: flex;
    padding: 15px 15px;
    position: relative;
    z-index: 2;

    img {
      width: 35px;
    }

    h4 {
      padding-left: 8px;
      font-family: $font-fam;
      font-size: 18px;
      color: $mywhite;
    }
  }

  .hr_line {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    z-index: 2;
    border: 1px solid rgba(180, 180, 180, 0.3);
  }

  .sidebar_content {
    margin-top: 20px;
   

    .button1, .button2, .button3, .button4, .button5, .button6, .button7, .button8 {
      .custom-button {
        display: flex;
        padding: 10px 15px;
        margin: 10px 15px 0;
        cursor: pointer;
        border-radius: 3px;
       
        color: $mywhite;
        background-color: transparent;
        z-index: 2;
        position: relative;

        &:hover {
          background-color: #00acc1;
         
        }

        .svg_class {
          fill: white;
          width: 24px;
        }

        h4 {
          padding-left: 15px;
          color: $mywhite;
          font-size: 14px;
          font-family: $font-fam;
          font-weight: 300;
          line-height: 30px;
        }
      }
      &.button1 {
        .custom-button {
          background-color: #00acc1;
        }
      }
  
    }
  }
  .sidebar_footer{
    bottom: 13px;
    width: 100%;
    position: absolute;
    @extend .sidebar_content, .button1, .custom-button, .svg_class;
    margin-top: 0;
    }
    
  }


