body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.06);
}

.screen {
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 260px;
  position: relative;
  padding-top: 10px;
}
.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/sidebarbg.png") no-repeat center center/cover;
  filter: brightness(20%);
  z-index: 1;
}
.sidebar .sidebar_header {
  display: flex;
  padding: 15px 15px;
  position: relative;
  z-index: 2;
  margin-left: 10px;
}
.sidebar .sidebar_header img {
  width: 35px;
}
.sidebar .sidebar_header h4 {
  padding-left: 8px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: white;
}
.sidebar .hr_line {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  z-index: 2;
  border: 1px solid rgba(180, 180, 180, 0.3);
}
.sidebar .sidebar_content, .sidebar .sidebar_footer {
  margin-top: 20px;
}
.sidebar .sidebar_content .button1 .custom-button, .sidebar .sidebar_content .button1 .sidebar_footer, .sidebar .sidebar_content .sidebar_footer .custom-button, .sidebar .sidebar_content .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button1 .custom-button, .sidebar .sidebar_footer .button1 .sidebar_footer, .sidebar .sidebar_footer .sidebar_footer .custom-button, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button2 .custom-button, .sidebar .sidebar_content .button2 .sidebar_footer, .sidebar .sidebar_footer .button2 .custom-button, .sidebar .sidebar_footer .button2 .sidebar_footer, .sidebar .sidebar_content .button3 .custom-button, .sidebar .sidebar_content .button3 .sidebar_footer, .sidebar .sidebar_footer .button3 .custom-button, .sidebar .sidebar_footer .button3 .sidebar_footer, .sidebar .sidebar_content .button4 .custom-button, .sidebar .sidebar_content .button4 .sidebar_footer, .sidebar .sidebar_footer .button4 .custom-button, .sidebar .sidebar_footer .button4 .sidebar_footer, .sidebar .sidebar_content .button5 .custom-button, .sidebar .sidebar_content .button5 .sidebar_footer, .sidebar .sidebar_footer .button5 .custom-button, .sidebar .sidebar_footer .button5 .sidebar_footer, .sidebar .sidebar_content .button6 .custom-button, .sidebar .sidebar_content .button6 .sidebar_footer, .sidebar .sidebar_footer .button6 .custom-button, .sidebar .sidebar_footer .button6 .sidebar_footer, .sidebar .sidebar_content .button7 .custom-button, .sidebar .sidebar_content .button7 .sidebar_footer, .sidebar .sidebar_footer .button7 .custom-button, .sidebar .sidebar_footer .button7 .sidebar_footer, .sidebar .sidebar_content .button8 .custom-button, .sidebar .sidebar_content .button8 .sidebar_footer, .sidebar .sidebar_footer .button8 .custom-button, .sidebar .sidebar_footer .button8 .sidebar_footer {
  display: flex;
  padding: 10px 15px;
  margin: 10px 15px 0;
  cursor: pointer;
  border-radius: 3px;
  z-index: 2;
  position: relative;
}
.sidebar .sidebar_content .button1 .custom-button:hover, .sidebar .sidebar_content .button1 .sidebar_footer:hover, .sidebar .sidebar_content .sidebar_footer .custom-button:hover, .sidebar .sidebar_content .sidebar_footer .sidebar_footer:hover, .sidebar .sidebar_footer .button1 .custom-button:hover, .sidebar .sidebar_footer .button1 .sidebar_footer:hover, .sidebar .sidebar_footer .sidebar_footer .custom-button:hover, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer:hover, .sidebar .sidebar_content .button2 .custom-button:hover, .sidebar .sidebar_content .button2 .sidebar_footer:hover, .sidebar .sidebar_footer .button2 .custom-button:hover, .sidebar .sidebar_footer .button2 .sidebar_footer:hover, .sidebar .sidebar_content .button3 .custom-button:hover, .sidebar .sidebar_content .button3 .sidebar_footer:hover, .sidebar .sidebar_footer .button3 .custom-button:hover, .sidebar .sidebar_footer .button3 .sidebar_footer:hover, .sidebar .sidebar_content .button4 .custom-button:hover, .sidebar .sidebar_content .button4 .sidebar_footer:hover, .sidebar .sidebar_footer .button4 .custom-button:hover, .sidebar .sidebar_footer .button4 .sidebar_footer:hover, .sidebar .sidebar_content .button5 .custom-button:hover, .sidebar .sidebar_content .button5 .sidebar_footer:hover, .sidebar .sidebar_footer .button5 .custom-button:hover, .sidebar .sidebar_footer .button5 .sidebar_footer:hover, .sidebar .sidebar_content .button6 .custom-button:hover, .sidebar .sidebar_content .button6 .sidebar_footer:hover, .sidebar .sidebar_footer .button6 .custom-button:hover, .sidebar .sidebar_footer .button6 .sidebar_footer:hover, .sidebar .sidebar_content .button7 .custom-button:hover, .sidebar .sidebar_content .button7 .sidebar_footer:hover, .sidebar .sidebar_footer .button7 .custom-button:hover, .sidebar .sidebar_footer .button7 .sidebar_footer:hover, .sidebar .sidebar_content .button8 .custom-button:hover, .sidebar .sidebar_content .button8 .sidebar_footer:hover, .sidebar .sidebar_footer .button8 .custom-button:hover, .sidebar .sidebar_footer .button8 .sidebar_footer:hover {
  background-color: #00acc1;
}
.sidebar .sidebar_content .button1 .custom-button .svg_class, .sidebar .sidebar_content .button1 .custom-button .sidebar_footer, .sidebar .sidebar_content .button1 .sidebar_footer .svg_class, .sidebar .sidebar_content .button1 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .sidebar_footer .custom-button .svg_class, .sidebar .sidebar_content .sidebar_footer .custom-button .sidebar_footer, .sidebar .sidebar_content .sidebar_footer .sidebar_footer .svg_class, .sidebar .sidebar_content .sidebar_footer .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button1 .custom-button .svg_class, .sidebar .sidebar_footer .button1 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button1 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button1 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .sidebar_footer .custom-button .svg_class, .sidebar .sidebar_footer .sidebar_footer .custom-button .sidebar_footer, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer .svg_class, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button2 .custom-button .svg_class, .sidebar .sidebar_content .button2 .custom-button .sidebar_footer, .sidebar .sidebar_content .button2 .sidebar_footer .svg_class, .sidebar .sidebar_content .button2 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button2 .custom-button .svg_class, .sidebar .sidebar_footer .button2 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button2 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button2 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button3 .custom-button .svg_class, .sidebar .sidebar_content .button3 .custom-button .sidebar_footer, .sidebar .sidebar_content .button3 .sidebar_footer .svg_class, .sidebar .sidebar_content .button3 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button3 .custom-button .svg_class, .sidebar .sidebar_footer .button3 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button3 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button3 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button4 .custom-button .svg_class, .sidebar .sidebar_content .button4 .custom-button .sidebar_footer, .sidebar .sidebar_content .button4 .sidebar_footer .svg_class, .sidebar .sidebar_content .button4 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button4 .custom-button .svg_class, .sidebar .sidebar_footer .button4 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button4 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button4 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button5 .custom-button .svg_class, .sidebar .sidebar_content .button5 .custom-button .sidebar_footer, .sidebar .sidebar_content .button5 .sidebar_footer .svg_class, .sidebar .sidebar_content .button5 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button5 .custom-button .svg_class, .sidebar .sidebar_footer .button5 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button5 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button5 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button6 .custom-button .svg_class, .sidebar .sidebar_content .button6 .custom-button .sidebar_footer, .sidebar .sidebar_content .button6 .sidebar_footer .svg_class, .sidebar .sidebar_content .button6 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button6 .custom-button .svg_class, .sidebar .sidebar_footer .button6 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button6 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button6 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button7 .custom-button .svg_class, .sidebar .sidebar_content .button7 .custom-button .sidebar_footer, .sidebar .sidebar_content .button7 .sidebar_footer .svg_class, .sidebar .sidebar_content .button7 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button7 .custom-button .svg_class, .sidebar .sidebar_footer .button7 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button7 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button7 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button8 .custom-button .svg_class, .sidebar .sidebar_content .button8 .custom-button .sidebar_footer, .sidebar .sidebar_content .button8 .sidebar_footer .svg_class, .sidebar .sidebar_content .button8 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button8 .custom-button .svg_class, .sidebar .sidebar_footer .button8 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button8 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button8 .sidebar_footer .sidebar_footer {
  fill: white;
  width: 24px;
}
.sidebar .sidebar_content .button1 .custom-button h4, .sidebar .sidebar_content .button1 .sidebar_footer h4, .sidebar .sidebar_content .sidebar_footer .custom-button h4, .sidebar .sidebar_content .sidebar_footer .sidebar_footer h4, .sidebar .sidebar_footer .button1 .custom-button h4, .sidebar .sidebar_footer .button1 .sidebar_footer h4, .sidebar .sidebar_footer .sidebar_footer .custom-button h4, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer h4, .sidebar .sidebar_content .button2 .custom-button h4, .sidebar .sidebar_content .button2 .sidebar_footer h4, .sidebar .sidebar_footer .button2 .custom-button h4, .sidebar .sidebar_footer .button2 .sidebar_footer h4, .sidebar .sidebar_content .button3 .custom-button h4, .sidebar .sidebar_content .button3 .sidebar_footer h4, .sidebar .sidebar_footer .button3 .custom-button h4, .sidebar .sidebar_footer .button3 .sidebar_footer h4, .sidebar .sidebar_content .button4 .custom-button h4, .sidebar .sidebar_content .button4 .sidebar_footer h4, .sidebar .sidebar_footer .button4 .custom-button h4, .sidebar .sidebar_footer .button4 .sidebar_footer h4, .sidebar .sidebar_content .button5 .custom-button h4, .sidebar .sidebar_content .button5 .sidebar_footer h4, .sidebar .sidebar_footer .button5 .custom-button h4, .sidebar .sidebar_footer .button5 .sidebar_footer h4, .sidebar .sidebar_content .button6 .custom-button h4, .sidebar .sidebar_content .button6 .sidebar_footer h4, .sidebar .sidebar_footer .button6 .custom-button h4, .sidebar .sidebar_footer .button6 .sidebar_footer h4, .sidebar .sidebar_content .button7 .custom-button h4, .sidebar .sidebar_content .button7 .sidebar_footer h4, .sidebar .sidebar_footer .button7 .custom-button h4, .sidebar .sidebar_footer .button7 .sidebar_footer h4, .sidebar .sidebar_content .button8 .custom-button h4, .sidebar .sidebar_content .button8 .sidebar_footer h4, .sidebar .sidebar_footer .button8 .custom-button h4, .sidebar .sidebar_footer .button8 .sidebar_footer h4 {
  font-size: 14px;
  font-weight: 100;
  line-height: 30px;
  color: #e5e7eb;
  padding-left: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.sidebar .sidebar_content .button1.button1 .custom-button, .sidebar .sidebar_content .button1.button1 .sidebar_footer, .sidebar .sidebar_content .sidebar_footer .custom-button, .sidebar .sidebar_content .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button1.button1 .custom-button, .sidebar .sidebar_footer .button1.button1 .sidebar_footer, .sidebar .sidebar_footer .sidebar_footer .custom-button, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button2.button1 .custom-button, .sidebar .sidebar_content .button3.button1 .custom-button, .sidebar .sidebar_content .button4.button1 .custom-button, .sidebar .sidebar_content .button5.button1 .custom-button, .sidebar .sidebar_content .button6.button1 .custom-button, .sidebar .sidebar_content .button7.button1 .custom-button, .sidebar .sidebar_content .button8.button1 .custom-button {
  background-color: #00acc1;
}
.sidebar .sidebar_footer {
  bottom: 13px;
  width: 100%;
  position: absolute;
  margin-top: 0;
}

.main_content {
  width: 100%;
}
.main_content .main-header {
  padding: 10px 0;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_content .main-header .lefthead {
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #a6a8aa;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.main_content .main-header .righthead {
  display: flex;
  align-items: center;
}
.main_content .main-header .righthead .search-box {
  width: 200px;
  border-bottom: 1px solid #ccc;
}
.main_content .main-header .righthead .search-box input {
  width: 100%;
  outline: none;
  background: transparent;
}
.main_content .main-header .righthead .search-box input:focus {
  border-bottom: 1px solid #9c27b0;
}
.main_content .main-header .righthead .svg--class, .main_content .main-header .righthead .svg-dashboard, .main_content .main-header .righthead .svg-notifications {
  background-color: white;
  border-radius: 30px;
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_content .main-header .righthead .svg--class .svgbg, .main_content .main-header .righthead .svg-dashboard .svgbg, .main_content .main-header .righthead .svg-notifications .svgbg {
  color: white;
  width: 18px;
  height: 18px;
}
.main_content .main-header .righthead .svg-dashboard, .main_content .main-header .righthead .svg-notifications {
  background-color: unset;
}
.main_content .main-header .righthead .svg-notifications {
  position: relative;
}
.main_content .main-header .righthead .svg-notifications .svgbg span {
  background-color: red;
  border-radius: 10px;
  font-size: 9px;
  width: 15px;
  height: 15px;
  position: absolute;
  text-align: center;
  top: 2px;
  right: 6px;
}
.main_content .main-content {
  padding-left: 15px;
  padding-right: 15px;
  margin: 30px 0;
}
.main_content .main-content .row1 .row, .main_content .main-content .row2 .row, .main_content .main-content .row3 .row {
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.main_content .main-content .row1 .row .col, .main_content .main-content .row2 .row .col, .main_content .main-content .row3 .row .col {
  margin-top: 30px;
  margin-bottom: 30px;
}
.main_content .main-content .row1 .row .col .used-space, .main_content .main-content .row2 .row .col .used-space, .main_content .main-content .row3 .row .col .used-space {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main_content .main-content .row1 .row .col .used-space .icon, .main_content .main-content .row2 .row .col .used-space .icon, .main_content .main-content .row3 .row .col .used-space .icon, .main_content .main-content .row1 .row .col .used-space .icon4, .main_content .main-content .row2 .row .col .used-space .icon4, .main_content .main-content .row3 .row .col .used-space .icon4, .main_content .main-content .row1 .row .col .used-space .icon3, .main_content .main-content .row2 .row .col .used-space .icon3, .main_content .main-content .row3 .row .col .used-space .icon3, .main_content .main-content .row1 .row .col .used-space .icon2, .main_content .main-content .row2 .row .col .used-space .icon2, .main_content .main-content .row3 .row .col .used-space .icon2 {
  padding: 15px;
  margin-top: -20px;
  margin-left: 15px;
  width: 84px;
  height: 84px;
  float: left;
  background-color: #ff9800;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_content .main-content .row1 .row .col .used-space .icon2, .main_content .main-content .row2 .row .col .used-space .icon2, .main_content .main-content .row3 .row .col .used-space .icon2 {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}
.main_content .main-content .row1 .row .col .used-space .icon3, .main_content .main-content .row2 .row .col .used-space .icon3, .main_content .main-content .row3 .row .col .used-space .icon3 {
  background: linear-gradient(60deg, #ef5350, #e53935);
}
.main_content .main-content .row1 .row .col .used-space .icon4, .main_content .main-content .row2 .row .col .used-space .icon4, .main_content .main-content .row3 .row .col .used-space .icon4 {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}
.main_content .main-content .row1 .row .col .used-space .text, .main_content .main-content .row2 .row .col .used-space .text, .main_content .main-content .row3 .row .col .used-space .text {
  text-align: right;
  margin: 0 15px;
  margin-bottom: 20px;
}
.main_content .main-content .row1 .row .col .used-space .text p, .main_content .main-content .row2 .row .col .used-space .text p, .main_content .main-content .row3 .row .col .used-space .text p {
  font-size: 16px;
  color: #999;
  padding-top: 10px;
}
.main_content .main-content .row1 .row .col .used-space .text h3, .main_content .main-content .row2 .row .col .used-space .text h3, .main_content .main-content .row3 .row .col .used-space .text h3 {
  margin: 0;
  font-size: 24px;
  color: #919499;
}
.main_content .main-content .row1 .row .col .used-space .text h3 span, .main_content .main-content .row2 .row .col .used-space .text h3 span, .main_content .main-content .row3 .row .col .used-space .text h3 span {
  font-size: 15px;
}
.main_content .main-content .row1 .row .col .used-space .col-footer, .main_content .main-content .row2 .row .col .used-space .col-footer, .main_content .main-content .row3 .row .col .used-space .col-footer {
  margin-top: 20px;
  border: 0;
  margin: 0 15px 10px;
  display: flex;
  padding: 0;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  justify-content: space-between;
  background-color: transparent;
}
.main_content .main-content .row1 .row .col .used-space .col-footer .footer, .main_content .main-content .row2 .row .col .used-space .col-footer .footer, .main_content .main-content .row3 .row .col .used-space .col-footer .footer {
  color: #999;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 22px;
}
.main_content .main-content .row1 .row .col .used-space .col-footer .footer .svg-class, .main_content .main-content .row2 .row .col .used-space .col-footer .footer .svg-class, .main_content .main-content .row3 .row .col .used-space .col-footer .footer .svg-class {
  display: flex;
  align-items: c;
  top: 4px;
  margin-left: 3px;
  margin-right: 3px;
}
.main_content .main-content .row1 .row .col .used-space .col-footer .footer p, .main_content .main-content .row2 .row .col .used-space .col-footer .footer p, .main_content .main-content .row3 .row .col .used-space .col-footer .footer p {
  color: gray;
}
.main_content .main-content .row2 .graphbg, .main_content .main-content .row3 .graphbg {
  padding: 20px;
}
.main_content .main-content .row2 .graphbg img, .main_content .main-content .row3 .graphbg img {
  margin-top: -40px;
  width: 100%;
}
.main_content .main-content .row2 .graphtext, .main_content .main-content .row3 .graphtext {
  color: gray;
  margin: 0 15px;
  margin-bottom: 20px;
}
.main_content .main-content .row2 .graphtext h3, .main_content .main-content .row3 .graphtext h3 {
  font-size: 20px;
}
.main_content .main-content .row2 .graphtext p, .main_content .main-content .row3 .graphtext p {
  padding-top: 5px;
  font-size: 13px;
  color: gray;
  display: flex;
  align-items: center;
}
.main_content .main-content .row2 .graphtext p span, .main_content .main-content .row3 .graphtext p span {
  color: #366d39;
}
.main_content .main-content .row3 .task {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  padding: 15px;
  margin-top: -20px;
  border-radius: 3px;
  color: white;
}
.main_content .main-content .row3 .task .taskbuttons {
  display: contents;
}
.main_content .main-content .row3 .task .taskbuttons button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_content .main-content .row3 .task .taskbuttons button:hover {
  background-color: rgba(224, 165, 232, 0.8); /* Adjust opacity */
}
.main_content .main-content .row3 .graphtext .input1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

@media (max-width: 600px) {
  /* Styles for mobile */
  .sidebar {
    display: none;
  }
  .main_content .main-header .righthead {
    display: none;
  }
  .main_content .row {
    display: block;
  }
  .main_content .row .col {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 769px) {
  /* Styles for tablets */
  .sidebar {
    display: none;
  }
  .main_content .main-header .righthead {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* Styles for large screens */
  .sidebar {
    position: fixed;
  }
  .main_content {
    margin-left: 260px;
  }
  .main_content .row {
    display: flex;
  }
  .main_content .row .col {
    width: 25%;
  }
  .main_content .row2 .row, .main_content .main-content .row3 .row {
    display: flex;
    justify-content: space-between;
  }
  .main_content .row2 .row .col, .main_content .main-content .row3 .row .col {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */