:root {
  --main-bg:#fff;
  --icon-color: black;
  --cards-bg:#fff;
  --tabletext:black;
}

[data-bs-theme=dark] {
  --main-bg:black;
  --icon-color: #fff;
  --cards-bg:#ffffff1a;
  --tabletext:#808080;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg) !important;
}

.screen {
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 260px;
  position: relative;
  overflow-x: hidden;
}
.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/sidebarbg.png") no-repeat center center/cover;
  filter: brightness(20%);
  z-index: 1;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.sidebar .header {
  padding: 15px 15px;
  z-index: 4;
  position: relative;
}
.sidebar .header .creative {
  color: #fff;
  display: block;
  padding: 5px 0;
  font-size: 18px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.sidebar .header .creative .image {
  width: 30px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 15px;
}
.sidebar .header .creative .img {
  top: 22px;
  width: 35px;
  position: absolute;
}
.sidebar .hr_line {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  z-index: 2;
  border: 1px solid rgba(180, 180, 180, 0.3);
}
.sidebar .sidebar_content, .sidebar .sidebar_footer {
  margin-top: 20px;
}
.sidebar .sidebar_content .button1 .custom-button, .sidebar .sidebar_content .button1 .sidebar_footer, .sidebar .sidebar_content .sidebar_footer .custom-button, .sidebar .sidebar_content .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button1 .custom-button, .sidebar .sidebar_footer .button1 .sidebar_footer, .sidebar .sidebar_footer .sidebar_footer .custom-button, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button2 .custom-button, .sidebar .sidebar_content .button2 .sidebar_footer, .sidebar .sidebar_footer .button2 .custom-button, .sidebar .sidebar_footer .button2 .sidebar_footer, .sidebar .sidebar_content .button3 .custom-button, .sidebar .sidebar_content .button3 .sidebar_footer, .sidebar .sidebar_footer .button3 .custom-button, .sidebar .sidebar_footer .button3 .sidebar_footer, .sidebar .sidebar_content .button4 .custom-button, .sidebar .sidebar_content .button4 .sidebar_footer, .sidebar .sidebar_footer .button4 .custom-button, .sidebar .sidebar_footer .button4 .sidebar_footer, .sidebar .sidebar_content .button5 .custom-button, .sidebar .sidebar_content .button5 .sidebar_footer, .sidebar .sidebar_footer .button5 .custom-button, .sidebar .sidebar_footer .button5 .sidebar_footer, .sidebar .sidebar_content .button6 .custom-button, .sidebar .sidebar_content .button6 .sidebar_footer, .sidebar .sidebar_footer .button6 .custom-button, .sidebar .sidebar_footer .button6 .sidebar_footer, .sidebar .sidebar_content .button7 .custom-button, .sidebar .sidebar_content .button7 .sidebar_footer, .sidebar .sidebar_footer .button7 .custom-button, .sidebar .sidebar_footer .button7 .sidebar_footer, .sidebar .sidebar_content .button8 .custom-button, .sidebar .sidebar_content .button8 .sidebar_footer, .sidebar .sidebar_footer .button8 .custom-button, .sidebar .sidebar_footer .button8 .sidebar_footer {
  display: flex;
  padding: 10px 15px;
  margin: 10px 15px 0;
  cursor: pointer;
  border-radius: 3px;
  z-index: 2;
  position: relative;
  line-height: 30px;
}
.sidebar .sidebar_content .button1 .custom-button:hover, .sidebar .sidebar_content .button1 .sidebar_footer:hover, .sidebar .sidebar_content .sidebar_footer .custom-button:hover, .sidebar .sidebar_content .sidebar_footer .sidebar_footer:hover, .sidebar .sidebar_footer .button1 .custom-button:hover, .sidebar .sidebar_footer .button1 .sidebar_footer:hover, .sidebar .sidebar_footer .sidebar_footer .custom-button:hover, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer:hover, .sidebar .sidebar_content .button2 .custom-button:hover, .sidebar .sidebar_content .button2 .sidebar_footer:hover, .sidebar .sidebar_footer .button2 .custom-button:hover, .sidebar .sidebar_footer .button2 .sidebar_footer:hover, .sidebar .sidebar_content .button3 .custom-button:hover, .sidebar .sidebar_content .button3 .sidebar_footer:hover, .sidebar .sidebar_footer .button3 .custom-button:hover, .sidebar .sidebar_footer .button3 .sidebar_footer:hover, .sidebar .sidebar_content .button4 .custom-button:hover, .sidebar .sidebar_content .button4 .sidebar_footer:hover, .sidebar .sidebar_footer .button4 .custom-button:hover, .sidebar .sidebar_footer .button4 .sidebar_footer:hover, .sidebar .sidebar_content .button5 .custom-button:hover, .sidebar .sidebar_content .button5 .sidebar_footer:hover, .sidebar .sidebar_footer .button5 .custom-button:hover, .sidebar .sidebar_footer .button5 .sidebar_footer:hover, .sidebar .sidebar_content .button6 .custom-button:hover, .sidebar .sidebar_content .button6 .sidebar_footer:hover, .sidebar .sidebar_footer .button6 .custom-button:hover, .sidebar .sidebar_footer .button6 .sidebar_footer:hover, .sidebar .sidebar_content .button7 .custom-button:hover, .sidebar .sidebar_content .button7 .sidebar_footer:hover, .sidebar .sidebar_footer .button7 .custom-button:hover, .sidebar .sidebar_footer .button7 .sidebar_footer:hover, .sidebar .sidebar_content .button8 .custom-button:hover, .sidebar .sidebar_content .button8 .sidebar_footer:hover, .sidebar .sidebar_footer .button8 .custom-button:hover, .sidebar .sidebar_footer .button8 .sidebar_footer:hover {
  background-color: #00acc1;
}
.sidebar .sidebar_content .button1 .custom-button .svg_class, .sidebar .sidebar_content .button1 .custom-button .sidebar_footer, .sidebar .sidebar_content .button1 .sidebar_footer .svg_class, .sidebar .sidebar_content .button1 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .sidebar_footer .custom-button .svg_class, .sidebar .sidebar_content .sidebar_footer .custom-button .sidebar_footer, .sidebar .sidebar_content .sidebar_footer .sidebar_footer .svg_class, .sidebar .sidebar_content .sidebar_footer .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button1 .custom-button .svg_class, .sidebar .sidebar_footer .button1 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button1 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button1 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .sidebar_footer .custom-button .svg_class, .sidebar .sidebar_footer .sidebar_footer .custom-button .sidebar_footer, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer .svg_class, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button2 .custom-button .svg_class, .sidebar .sidebar_content .button2 .custom-button .sidebar_footer, .sidebar .sidebar_content .button2 .sidebar_footer .svg_class, .sidebar .sidebar_content .button2 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button2 .custom-button .svg_class, .sidebar .sidebar_footer .button2 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button2 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button2 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button3 .custom-button .svg_class, .sidebar .sidebar_content .button3 .custom-button .sidebar_footer, .sidebar .sidebar_content .button3 .sidebar_footer .svg_class, .sidebar .sidebar_content .button3 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button3 .custom-button .svg_class, .sidebar .sidebar_footer .button3 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button3 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button3 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button4 .custom-button .svg_class, .sidebar .sidebar_content .button4 .custom-button .sidebar_footer, .sidebar .sidebar_content .button4 .sidebar_footer .svg_class, .sidebar .sidebar_content .button4 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button4 .custom-button .svg_class, .sidebar .sidebar_footer .button4 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button4 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button4 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button5 .custom-button .svg_class, .sidebar .sidebar_content .button5 .custom-button .sidebar_footer, .sidebar .sidebar_content .button5 .sidebar_footer .svg_class, .sidebar .sidebar_content .button5 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button5 .custom-button .svg_class, .sidebar .sidebar_footer .button5 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button5 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button5 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button6 .custom-button .svg_class, .sidebar .sidebar_content .button6 .custom-button .sidebar_footer, .sidebar .sidebar_content .button6 .sidebar_footer .svg_class, .sidebar .sidebar_content .button6 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button6 .custom-button .svg_class, .sidebar .sidebar_footer .button6 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button6 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button6 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button7 .custom-button .svg_class, .sidebar .sidebar_content .button7 .custom-button .sidebar_footer, .sidebar .sidebar_content .button7 .sidebar_footer .svg_class, .sidebar .sidebar_content .button7 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button7 .custom-button .svg_class, .sidebar .sidebar_footer .button7 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button7 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button7 .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button8 .custom-button .svg_class, .sidebar .sidebar_content .button8 .custom-button .sidebar_footer, .sidebar .sidebar_content .button8 .sidebar_footer .svg_class, .sidebar .sidebar_content .button8 .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button8 .custom-button .svg_class, .sidebar .sidebar_footer .button8 .custom-button .sidebar_footer, .sidebar .sidebar_footer .button8 .sidebar_footer .svg_class, .sidebar .sidebar_footer .button8 .sidebar_footer .sidebar_footer {
  fill: white;
  width: 24px;
}
.sidebar .sidebar_content .button1 .custom-button h4, .sidebar .sidebar_content .button1 .sidebar_footer h4, .sidebar .sidebar_content .sidebar_footer .custom-button h4, .sidebar .sidebar_content .sidebar_footer .sidebar_footer h4, .sidebar .sidebar_footer .button1 .custom-button h4, .sidebar .sidebar_footer .button1 .sidebar_footer h4, .sidebar .sidebar_footer .sidebar_footer .custom-button h4, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer h4, .sidebar .sidebar_content .button2 .custom-button h4, .sidebar .sidebar_content .button2 .sidebar_footer h4, .sidebar .sidebar_footer .button2 .custom-button h4, .sidebar .sidebar_footer .button2 .sidebar_footer h4, .sidebar .sidebar_content .button3 .custom-button h4, .sidebar .sidebar_content .button3 .sidebar_footer h4, .sidebar .sidebar_footer .button3 .custom-button h4, .sidebar .sidebar_footer .button3 .sidebar_footer h4, .sidebar .sidebar_content .button4 .custom-button h4, .sidebar .sidebar_content .button4 .sidebar_footer h4, .sidebar .sidebar_footer .button4 .custom-button h4, .sidebar .sidebar_footer .button4 .sidebar_footer h4, .sidebar .sidebar_content .button5 .custom-button h4, .sidebar .sidebar_content .button5 .sidebar_footer h4, .sidebar .sidebar_footer .button5 .custom-button h4, .sidebar .sidebar_footer .button5 .sidebar_footer h4, .sidebar .sidebar_content .button6 .custom-button h4, .sidebar .sidebar_content .button6 .sidebar_footer h4, .sidebar .sidebar_footer .button6 .custom-button h4, .sidebar .sidebar_footer .button6 .sidebar_footer h4, .sidebar .sidebar_content .button7 .custom-button h4, .sidebar .sidebar_content .button7 .sidebar_footer h4, .sidebar .sidebar_footer .button7 .custom-button h4, .sidebar .sidebar_footer .button7 .sidebar_footer h4, .sidebar .sidebar_content .button8 .custom-button h4, .sidebar .sidebar_content .button8 .sidebar_footer h4, .sidebar .sidebar_footer .button8 .custom-button h4, .sidebar .sidebar_footer .button8 .sidebar_footer h4 {
  font-size: 14px;
  font-weight: 100;
  color: #e5e7eb;
  padding-left: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.sidebar .sidebar_content .button1.button1 .custom-button, .sidebar .sidebar_content .button1.button1 .sidebar_footer, .sidebar .sidebar_content .sidebar_footer .custom-button, .sidebar .sidebar_content .sidebar_footer .sidebar_footer, .sidebar .sidebar_footer .button1.button1 .custom-button, .sidebar .sidebar_footer .button1.button1 .sidebar_footer, .sidebar .sidebar_footer .sidebar_footer .custom-button, .sidebar .sidebar_footer .sidebar_footer .sidebar_footer, .sidebar .sidebar_content .button2.button1 .custom-button, .sidebar .sidebar_content .button3.button1 .custom-button, .sidebar .sidebar_content .button4.button1 .custom-button, .sidebar .sidebar_content .button5.button1 .custom-button, .sidebar .sidebar_content .button6.button1 .custom-button, .sidebar .sidebar_content .button7.button1 .custom-button, .sidebar .sidebar_content .button8.button1 .custom-button {
  background-color: #00acc1;
}
.sidebar .sidebar_footer {
  bottom: 13px;
  width: 100%;
  position: absolute;
  margin-top: 0;
}

.main_content {
  width: 100%;
  overflow: auto;
}
.main_content .main-header {
  padding: 10px 0;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_content .main-header .lefthead {
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 200;
  color: #a6a8aa;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.main_content .main-header .righthead {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main_content .main-header .righthead .search-box {
  width: 200px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.main_content .main-header .righthead .search-box input {
  width: 100%;
  outline: none;
  background: transparent;
}
.main_content .main-header .righthead .svg--class, .main_content .main-header .righthead .svg-dashboard, .main_content .main-header .righthead .svg-notifications {
  background-color: white;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_content .main-header .righthead .svg--class .svgbg, .main_content .main-header .righthead .svg-dashboard .svgbg, .main_content .main-header .righthead .svg-notifications .svgbg {
  color: white;
  width: 18px;
  height: 18px;
  fill: var(--icon-color); /* Apply dynamic color */
}
.main_content .main-header .righthead .svg-dashboard, .main_content .main-header .righthead .svg-notifications {
  background-color: unset;
}
.main_content .main-header .righthead .svg-notifications {
  position: relative;
}
.main_content .main-header .righthead .svg-notifications .svgbg span {
  background-color: red;
  border-radius: 10px;
  font-size: 9px;
  width: 15px;
  height: 15px;
  position: absolute;
  text-align: center;
  top: 2px;
  right: 6px;
}
.main_content .main-content {
  padding-left: 15px;
  padding-right: 15px;
  margin: 30px 0;
}
.main_content .main-content .row1 .row, .main_content .main-content .row2 .row, .main_content .main-content .row3 .row {
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.main_content .main-content .row1 .row .col, .main_content .main-content .row2 .row .col, .main_content .main-content .row3 .row .col {
  margin-top: 30px;
  margin-bottom: 30px;
}
.main_content .main-content .row1 .row .col .used-space, .main_content .main-content .row2 .row .col .used-space, .main_content .main-content .row3 .row .col .used-space {
  background-color: var(--cards-bg);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main_content .main-content .row1 .row .col .used-space .icon, .main_content .main-content .row2 .row .col .used-space .icon, .main_content .main-content .row3 .row .col .used-space .icon, .main_content .main-content .row1 .row .col .used-space .icon4, .main_content .main-content .row2 .row .col .used-space .icon4, .main_content .main-content .row3 .row .col .used-space .icon4, .main_content .main-content .row1 .row .col .used-space .icon3, .main_content .main-content .row2 .row .col .used-space .icon3, .main_content .main-content .row3 .row .col .used-space .icon3, .main_content .main-content .row1 .row .col .used-space .icon2, .main_content .main-content .row2 .row .col .used-space .icon2, .main_content .main-content .row3 .row .col .used-space .icon2 {
  padding: 15px;
  margin-top: -20px;
  margin-left: 15px;
  width: 86px;
  height: 87px;
  float: left;
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_content .main-content .row1 .row .col .used-space .icon2, .main_content .main-content .row2 .row .col .used-space .icon2, .main_content .main-content .row3 .row .col .used-space .icon2 {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}
.main_content .main-content .row1 .row .col .used-space .icon3, .main_content .main-content .row2 .row .col .used-space .icon3, .main_content .main-content .row3 .row .col .used-space .icon3 {
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}
.main_content .main-content .row1 .row .col .used-space .icon4, .main_content .main-content .row2 .row .col .used-space .icon4, .main_content .main-content .row3 .row .col .used-space .icon4 {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 172, 193, 0.4);
}
.main_content .main-content .row1 .row .col .used-space .text, .main_content .main-content .row2 .row .col .used-space .text, .main_content .main-content .row3 .row .col .used-space .text {
  text-align: right;
  margin: 0 15px;
  margin-bottom: 20px;
}
.main_content .main-content .row1 .row .col .used-space .text p, .main_content .main-content .row2 .row .col .used-space .text p, .main_content .main-content .row3 .row .col .used-space .text p {
  font-size: 14px;
  color: #999;
  padding-top: 10px;
}
.main_content .main-content .row1 .row .col .used-space .text h3, .main_content .main-content .row2 .row .col .used-space .text h3, .main_content .main-content .row3 .row .col .used-space .text h3 {
  margin: 0;
  font-size: 1.825em;
  font-weight: 300;
  color: #3C4858;
}
.main_content .main-content .row1 .row .col .used-space .text h3 span, .main_content .main-content .row2 .row .col .used-space .text h3 span, .main_content .main-content .row3 .row .col .used-space .text h3 span {
  font-size: 15px;
}
.main_content .main-content .row1 .row .col .used-space hr, .main_content .main-content .row2 .row .col .used-space hr, .main_content .main-content .row3 .row .col .used-space hr {
  margin-left: 15px;
  margin-right: 15px;
}
.main_content .main-content .row1 .row .col .used-space .col-footer, .main_content .main-content .row2 .row .col .used-space .col-footer, .main_content .main-content .row3 .row .col .used-space .col-footer {
  margin-top: 20px;
  border: 0;
  margin: 0 15px 10px;
  display: flex;
  padding: 0;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  justify-content: space-between;
}
.main_content .main-content .row1 .row .col .used-space .col-footer .footer, .main_content .main-content .row2 .row .col .used-space .col-footer .footer, .main_content .main-content .row3 .row .col .used-space .col-footer .footer {
  color: #999;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 22px;
}
.main_content .main-content .row1 .row .col .used-space .col-footer .footer .svg-class, .main_content .main-content .row2 .row .col .used-space .col-footer .footer .svg-class, .main_content .main-content .row3 .row .col .used-space .col-footer .footer .svg-class {
  display: flex;
  align-items: c;
  top: 4px;
  margin-left: 3px;
  margin-right: 3px;
}
.main_content .main-content .row1 .row .col .used-space .col-footer .footer .svg-class svg, .main_content .main-content .row2 .row .col .used-space .col-footer .footer .svg-class svg, .main_content .main-content .row3 .row .col .used-space .col-footer .footer .svg-class svg {
  color: #bababa;
}
.main_content .main-content .row1 .row .col .used-space .col-footer .footer .get, .main_content .main-content .row2 .row .col .used-space .col-footer .footer .get, .main_content .main-content .row3 .row .col .used-space .col-footer .footer .get {
  color: #9c27b0;
}
.main_content .main-content .row1 .row .col .used-space .col-footer .footer p, .main_content .main-content .row2 .row .col .used-space .col-footer .footer p, .main_content .main-content .row3 .row .col .used-space .col-footer .footer p {
  color: #bababa;
}
.main_content .main-content .row2 .graphbg, .main_content .main-content .row3 .graphbg {
  padding: 15px;
}
.main_content .main-content .row2 .graphbg .img1, .main_content .main-content .row3 .graphbg .img1, .main_content .main-content .row2 .graphbg .img3, .main_content .main-content .row3 .graphbg .img3, .main_content .main-content .row2 .graphbg .img2, .main_content .main-content .row3 .graphbg .img2 {
  margin-top: -40px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}
.main_content .main-content .row2 .graphbg .img2, .main_content .main-content .row3 .graphbg .img2 {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.main_content .main-content .row2 .graphbg .img3, .main_content .main-content .row3 .graphbg .img3 {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}
.main_content .main-content .row2 .graphtext, .main_content .main-content .row3 .graphtext {
  color: gray;
  margin: 0 30px;
  margin-bottom: 20px;
}
.main_content .main-content .row2 .graphtext h4, .main_content .main-content .row3 .graphtext h4 {
  font-size: 18px;
  font-weight: inherit;
  color: #3C4858;
}
.main_content .main-content .row2 .graphtext p, .main_content .main-content .row3 .graphtext p {
  padding-top: 5px;
  font-size: 13px;
  color: gray;
  display: flex;
  align-items: center;
  gap: 5px;
}
.main_content .main-content .row2 .graphtext p span, .main_content .main-content .row3 .graphtext p span {
  font-size: 15px;
  color: #4caf50;
}
.main_content .main-content .row3 .row .col {
  background-color: var(--cards-bg);
  border-radius: 6px;
  padding: 0 15px;
}
.main_content .main-content .row3 .row .col .employeetasks .emptop {
  display: flex;
  padding: 15px;
  border-radius: 3px;
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  color: #fff;
  margin-top: -20px;
  margin-bottom: 3px;
}
.main_content .main-content .row3 .row .col .employeetasks .emptop .task {
  padding: 10px 10px 10px 0px;
  line-height: 24px;
}
.main_content .main-content .row3 .row .col .employeetasks .emptop .tasklist {
  display: flex;
  overflow-y: auto;
}
.main_content .main-content .row3 .row .col .employeetasks .emptop .tasklist button {
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-left: 4px;
}
.main_content .main-content .row3 .row .col .employeetasks .emptop .tasklist .button1, .main_content .main-content .row3 .row .col .employeetasks .emptop .tasklist .sidebar .sidebar_footer, .sidebar .main_content .main-content .row3 .row .col .employeetasks .emptop .tasklist .sidebar_footer {
  background-color: rgba(255, 255, 255, 0.2);
}
.main_content .main-content .row3 .row .col .employeetasks .emptop .tasklist .button1:hover, .main_content .main-content .row3 .row .col .employeetasks .emptop .tasklist .sidebar .sidebar_footer:hover, .sidebar .main_content .main-content .row3 .row .col .employeetasks .emptop .tasklist .sidebar_footer:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.main_content .main-content .row3 .row .col .employeetasks .emptop .tasklist button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.main_content .main-content .row3 .row .col .employeetasks .bottom {
  padding: 20px;
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext {
  overflow-x: auto;
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table {
  width: 100%;
  max-width: 100%;
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow {
  text-align: start;
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 13px;
  align-items: center;
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tablehead, .main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tablebody {
  padding: 8px;
  text-align: start;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.8125rem;
  background-color: transparent;
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tablehead input[type=checkbox], .main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tablebody input[type=checkbox] {
  accent-color: black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  height: 20px;
  border-radius: 3px;
  position: relative;
  padding: 8px;
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tablehead input[type=checkbox]::before, .main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tablebody input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tablehead input[type=checkbox]:checked::after, .main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tablebody input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid purple;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tabledata {
  border: none;
  text-align: start;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.42857143;
  vertical-align: middle;
  background-color: transparent;
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tabledata span {
  color: gray;
  border: none;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.42857143;
}
.main_content .main-content .row3 .row .col .employeetasks .bottom .bottomtext .table .tablebody .trow .tableend {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}
.main_content .main-content .row3 .row .col {
  background-color: var(--cards-bg);
  border-radius: 6px;
  padding: 0 15px;
}
.main_content .main-content .row3 .row .col .employeestats .top {
  padding: 15px;
  margin-top: -20px;
  border-radius: 3px;
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
  color: #fff;
  margin-bottom: 3px;
}
.main_content .main-content .row3 .row .col .employeestats .top p {
  color: rgba(255, 255, 255, 0.62);
  font-size: 14px;
}
.main_content .main-content .row3 .row .col .employeestats .bottom {
  padding: 20px;
}
.main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext {
  margin-top: 24px;
  overflow-x: auto;
}
.main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table {
  width: 100%;
  max-width: 100%;
}
.main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablehead, .main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablebody {
  color: #ff9800;
  text-align: start;
  background-color: transparent;
}
.main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablehead .trow, .main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablebody .trow {
  border-bottom: 1px solid #ddd;
  height: 56px;
  display: table-row;
}
.main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablehead .trow .tablehead, .main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablebody .trow .tablehead, .main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablehead .trow .tablebody, .main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablebody .trow .tablebody {
  padding: 12px 8px;
  font-size: 1em;
  font-weight: 300;
}
.main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablebody .trow {
  border-bottom: 1px solid #ddd;
}
.main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablebody .trow .tablehead, .main_content .main-content .row3 .row .col .employeestats .bottom .bottomtext .table .tablebody .trow .tablebody {
  text-align: start;
  color: var(--tabletext);
  font-size: 0.8125rem;
}
.main_content .footerdown {
  padding: 15px 0;
}
.main_content .footerdown .footersection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.main_content .footerdown .footersection .footerleft {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.main_content .footerdown .footersection .footerleft h5 {
  margin: 5px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 12px;
  padding: 10px;
}
.main_content .footerdown .footersection .footerright p {
  color: #3c4858;
  font-size: 14px;
  margin: 5px;
}
.main_content .footerdown .footersection .footerright p span {
  color: #9c27b0;
}

@media (max-width: 600px) {
  /* Styles for mobile */
  .sidebar {
    display: none;
  }
  .main_content .main-header .righthead {
    display: none;
  }
  .main_content .row {
    display: block;
  }
  .main_content .row .col {
    width: 100%;
  }
  .main_content .footersection {
    flex-direction: column;
    align-items: center;
  }
  .main_content .footerleft {
    justify-content: unset;
  }
  .main_content .footerright p {
    text-align: unset;
  }
}
@media (min-width: 601px) and (max-width: 769px) {
  /* Styles for tablets */
  .sidebar {
    display: none;
  }
  .main_content .main-header .righthead {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* Styles for large screens */
  .sidebar {
    position: fixed;
    height: 100%;
  }
  .main_content {
    margin-left: 260px;
  }
  .main_content .row {
    display: flex;
  }
  .main_content .row .col {
    width: 25%;
  }
  .main_content .row2 .row, .main_content .main-content .row3 .row {
    display: flex;
    justify-content: space-between;
  }
  .main_content .row2 .row .col, .main_content .main-content .row3 .row .col {
    width: 50%;
  }
  .main_content .main-header .sidebartoggle {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */